n8n/workflows/data-update-notification.json
{
  "name": "GradPath Data Update Notification",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "data-update",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300],
      "webhookId": "gradpath-data-update"
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "source_name",
              "value": "={{ $json.body.source_name }}"
            },
            {
              "name": "items_stored",
              "value": "={{ $json.body.items_stored }}"
            },
            {
              "name": "timestamp",
              "value": "={{ $json.body.timestamp || $now.toISO() }}"
            }
          ]
        },
        "options": {}
      },
      "id": "extract-data",
      "name": "Extract Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [450, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.GRADPATH_API_URL }}/api/crawlers/runs?source_name={{ $json.source_name }}&limit=1",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "id": "get-stats",
      "name": "Get Crawler Stats",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [650, 300],
      "credentials": {
        "httpHeaderAuth": {
          "id": "gradpath-api",
          "name": "GradPath API"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $json.body.items_stored }}",
              "operation": "larger",
              "value2": 0
            }
          ]
        }
      },
      "id": "has-updates",
      "name": "Has Updates?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [850, 300]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "message",
              "value": "=📚 数据更新通知\n\n数据源: {{ $json.source_name }}\n新增条目: {{ $json.items_stored }}\n更新时间: {{ $json.timestamp }}\n\n登录 GradPath 查看最新数据。"
            },
            {
              "name": "title",
              "value": "=GradPath 数据更新 - {{ $json.source_name }}"
            }
          ]
        },
        "options": {}
      },
      "id": "format-notification",
      "name": "Format Notification",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [1050, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.GRADPATH_API_URL }}/api/notifications/broadcast",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "title",
              "value": "={{ $json.title }}"
            },
            {
              "name": "message",
              "value": "={{ $json.message }}"
            },
            {
              "name": "type",
              "value": "data_update"
            }
          ]
        },
        "options": {}
      },
      "id": "send-notification",
      "name": "Send Broadcast",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1250, 200],
      "credentials": {
        "httpHeaderAuth": {
          "id": "gradpath-api",
          "name": "GradPath API"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\"status\": \"ok\", \"processed\": true}"
      },
      "id": "respond-ok",
      "name": "Respond OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1450, 200]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Extract Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Data": {
      "main": [
        [
          {
            "node": "Get Crawler Stats",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Crawler Stats": {
      "main": [
        [
          {
            "node": "Has Updates?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Updates?": {
      "main": [
        [
          {
            "node": "Format Notification",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Format Notification": {
      "main": [
        [
          {
            "node": "Send Broadcast",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Broadcast": {
      "main": [
        [
          {
            "node": "Respond OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [
    {
      "name": "gradpath"
    },
    {
      "name": "notification"
    }
  ]
}
