n8n/workflows/grad-crawler-scheduler.json
{
  "name": "GradPath Crawler Scheduler",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 2 * * *"
            }
          ]
        }
      },
      "id": "cron-trigger",
      "name": "Daily 02:00 UTC",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.GRADPATH_API_URL }}/api/crawlers",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "id": "list-crawlers",
      "name": "List Available Crawlers",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [450, 300],
      "credentials": {
        "httpHeaderAuth": {
          "id": "gradpath-api",
          "name": "GradPath API"
        }
      }
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "split-crawlers",
      "name": "Split In Batches",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [650, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.GRADPATH_API_URL }}/api/crawlers/run",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "source_name",
              "value": "={{ $json.name }}"
            },
            {
              "name": "dry_run",
              "value": false
            }
          ]
        },
        "options": {}
      },
      "id": "run-crawler",
      "name": "Run Crawler",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [850, 300],
      "credentials": {
        "httpHeaderAuth": {
          "id": "gradpath-api",
          "name": "GradPath API"
        }
      }
    },
    {
      "parameters": {
        "amount": 10,
        "unit": "seconds"
      },
      "id": "wait-poll",
      "name": "Wait 10s",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [1050, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.GRADPATH_API_URL }}/api/crawlers/status/{{ $json.task_id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "id": "poll-status",
      "name": "Poll Task Status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1250, 300],
      "credentials": {
        "httpHeaderAuth": {
          "id": "gradpath-api",
          "name": "GradPath API"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.status }}",
              "operation": "equal",
              "value2": "running"
            }
          ]
        }
      },
      "id": "check-running",
      "name": "Still Running?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [1450, 300]
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $json.errors }}",
              "operation": "larger",
              "value2": 0
            }
          ]
        }
      },
      "id": "check-errors",
      "name": "Has Errors?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [1650, 300]
    },
    {
      "parameters": {
        "content": "=Crawler: {{ $json.source_name }}\nStatus: {{ $json.status }}\nStored: {{ $json.stored }}\nErrors: {{ $json.errors }}",
        "options": {}
      },
      "id": "format-result",
      "name": "Format Result",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [1850, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.GRADPATH_API_URL }}/api/webhooks/data-update",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "source_name",
              "value": "={{ $json.source_name }}"
            },
            {
              "name": "items_stored",
              "value": "={{ $json.stored }}"
            }
          ]
        },
        "options": {}
      },
      "id": "notify-webhook",
      "name": "Send Data Update Notification",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1850, 400]
    }
  ],
  "connections": {
    "Daily 02:00 UTC": {
      "main": [
        [
          {
            "node": "List Available Crawlers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List Available Crawlers": {
      "main": [
        [
          {
            "node": "Split In Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split In Batches": {
      "main": [
        [
          {
            "node": "Run Crawler",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Run Crawler": {
      "main": [
        [
          {
            "node": "Wait 10s",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 10s": {
      "main": [
        [
          {
            "node": "Poll Task Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Poll Task Status": {
      "main": [
        [
          {
            "node": "Still Running?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Still Running?": {
      "main": [
        [
          {
            "node": "Wait 10s",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Has Errors?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Errors?": {
      "main": [
        [
          {
            "node": "Format Result",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Data Update Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [
    {
      "name": "gradpath"
    },
    {
      "name": "crawler"
    }
  ]
}
